.playlist{
    margin: 0rem 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icons--body {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.icons--body .MuiSvgIcon-root {
    margin-right: 20px;
    color: #1ed15e;
}

.icons--body .player {
    font-size: 60px !important;
    margin: 0px 20px 2px 50px;
    color: #1ed15e;
}

.desc {
    font-size: 18px;
    color: rgb(141, 142, 145);
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(227, 241, 253);
}

.detail .title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
}

.listlist .header {
    display: grid;
    grid-template-columns: 0.15fr 2.7fr 1.67fr .3fr;
    color: aliceblue;
    padding: 1rem 1.5rem;
    margin: 0.8rem;
    position: sticky;
    margin-top: -1rem;
    top: 0;
    z-index: 1;
    transition: .3s ease-in-out;
}

.track {
    display: flex;
    color: aliceblue;
    flex-direction: column;
    transition: .3s ease-in-out;
    margin-bottom: 5rem;
    margin: 0rem 1rem;
}

.row {
    padding: 1rem 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 0.15fr 2.7fr 1.67fr .3fr;
    align-items: center;
}

.row:hover {
    background-color: rgb(3, 3, 3);
    transition: .4s all;
}
.listlist hr{
    border: 1px solid #5a5959;
    outline: none;
}