.footer {
    position: fixed;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 12vh;
    background-color: #181818;
    padding: 0rem 1rem;
    grid-template-columns: 1fr 2fr 1fr;
}
.song{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.info__song{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.info__song h4{
    color: aliceblue;
}
.info__song h6{
    color: aliceblue;
}
svg{
    color: #1ed15e;
    transition: .4s ease-in-out;

}
svg:hover{
    color: #0dcf51;
}
.prev--,.next--,.play--{
    font-size: 2rem;
    margin: 0rem 1.5rem;
}