.login {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

.login img {
    width: 40%;
}

.login a {
    background-color: #1db954;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 26px;
    font-size: 18px;
    border-radius: 99px;
    text-decoration: none;

}