.menu {
    display: flex;
    align-items: center;
    color: rgb(147, 145, 145);
    transition: .2s color ease-in;
    height: 46px;
    cursor: pointer;
}
.list{
    display: flex;
        align-items: center;
        color: rgb(183, 181, 181);
        height: 46px;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 0rem .7rem;
        border-radius: 8px;
        cursor: pointer;
        margin-left: .7rem;
}
.list:hover{
    color: white;
    background-color:rgb(61, 61, 61);
    transition: .4s  all;
}
.menu:hover {
    color: white;
}

.menu-icons {
    margin: 0rem .7rem;
}

.sidebar--play {
    margin-left: .5rem;
    padding: .3rem;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    color: rgb(214, 213, 213);
}

.sidebar hr {
    width: 90%;
    border: 1px solid #353434;
    margin: 10px auto;
}

.menu>p {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
    font-size: 18px;
}
.menu h4{
    font-weight: 200;
    margin-left: .3rem;
    letter-spacing: 1px;
}