.menu {
    display: flex;
    align-items: center;
    color: rgb(131, 130, 130);
    transition: .2s color ease-in;
    height: 46px;
    cursor: pointer;
}

.menu:hover {
    color: white;
}

.menu-icons {
    margin: 0rem .7rem;
}

.sidebar--play {
    margin-left: .5rem;
    padding: .3rem;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    color: rgb(214, 213, 213);
}

.sidebar hr {
    width: 90%;
    border: 1px solid #353434;
    margin: 10px auto;
}

.menu>p {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
    font-size: 14px;
}